{# empty Twig template #}


<center>

<a href ="{{path ('tft_arbitre_registration')}}"> <h2>inscription arbitre</h2></a> </br>
<a href ="{{path ('tft_arbitre_registration')}}"> <h2>inscription joueur</h2></a></br>
<a href ="{{path ('tft_medecin_registration')}}"> <h2>inscription medecin</h2></a></br>
<a href ="{{path ('tft_dopage_registration')}}"> <h2>inscription responsable anti dopage</h2></a><br>
<a href ="{{path ('tft_fan_registration')}}"> <h2>inscription fan</h2></a>
</center>