<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Mirrored from www.ilcorsaronero.it/progettienvato/SiteParallax/ParallaxSite/site_tennis/preview/matches.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Feb 2016 11:11:07 GMT -->
<head>


        <title>FT TENNIS</title>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

        <meta name="author" content="Corsini Alessio" />
        <meta name="keywords" content="Tennis, club, events, football, golf, non-profit, betting assistant, football,fitness, tennis, sport, soccer, goal, sports, volleyball, basketball,	charity, club, cricket, football, hockey, magazine, non profit, rugby, soccer, sport, sports, tennis" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css" />
        <!--<link href="css/bootstrap.in.css" rel="stylesheet" type="text/css" />-->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,700,600,300' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,300,200,500,600,700,800,900' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>

                <link href="{{asset('css/fonts/font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
                <!--Clients-->
                <link href="{{asset('css/own/owl.carousel.css ')}}" rel="stylesheet" type="text/css" />
                <link href="{{asset('css/own/owl.theme.css')}}" rel="stylesheet" type="text/css" />


                <link href="{{asset('css/jquery.bxslider.css')}}" rel="stylesheet" type="text/css" />
                <link href="{{asset('css/jquery.jscrollpane.css')}}" rel="stylesheet" type="text/css" />

                <link href="{{asset('css/minislide/flexslider.css')}}" rel="stylesheet" type="text/css" />
                <link href="{{asset('css/component.css')}}" rel="stylesheet" type="text/css" />
                <link href="{{asset('css/prettyPhoto.css')}}" rel="stylesheet" type="text/css" />
                <link href="{{asset('css/style_dir.css')}}" rel="stylesheet" type="text/css" />
                <link rel="shortcut icon" type="image/png" href="{{asset('img/favicon.ico')}}" />
                <link href="{{asset('css/responsive.css')}}" rel="stylesheet" type="text/css" />
                <link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css" />





                </head>
<body>
<section class="content-top-login">
  <div class="container">
      <div class="col-md-12">
           <div class="box-support"> 
             <p class="support-info"><i class="fa fa-envelope-o"></i> info@wttennis.com</p>
          </div>
           <div class="box-login"> 
             <i class="fa fa-shopping-cart"></i>
             <a href='login.html'>Login</a>
             <a href='login.html'>Sign Up</a>
          </div>
          <div class="cart-prod hiddenbox">
             <div class="sec-prod">
              <div class="content-cart-prod">
                <i class="fa fa-times"></i>
                <img src="images/shop/bags1.jpg" alt="" />
                <p>FIVE BLX</p>
                <p>1 X $55.00</p>
              </div>
              <div class="content-cart-prod">
                <i class="fa fa-times"></i>
                <img class="racket-img" src="images/shop/1_100L.jpg" alt="" />
                <p>FIVE BLX</p>
                <p>1 X $125.00</p>
              </div>
               <div class="content-cart-prod">
                <p class="cart-tot-price">Total: $180.00</p>
                <a href="#" class="btn-cart">Go to cart</a>
                <a href="#" class="btn-cart">Checkout</a>
              </div>
             </div>
          </div>
        </div>
      </div>
  </section>
<section class="container box-logo">
    <header>
        <div class="content-logo col-md-12">
          <div class="logo"> 
            <img src="img/logo2.png" alt="" />
          </div>
           <div class="bt-menu"><a href="#" class="menu"><span>&equiv;</span> Menu</a></div>
         <div class="box-menu">
            
            <nav id="cbp-hrmenu" class="cbp-hrmenu">
					    <ul id="menu">    
                            <li><a class="lnk-menu active" href="index.html">Home</a></li>
                            <li>
								<a class="lnk-menu" href="#">Pages</a>
                                <div class="cbp-hrsub sub-little">
                                  <div class="cbp-hrsub-inner"> 
                                      <div class="content-sub-menu">
								        <ul class="menu-pages">
									        <li><a href="tournaments.html"><span>Tournaments</span></a></li>
									        <li><a href="login.html"><span>Login</span></a></li>
									        <li><a href="news.html"><span>News</span></a></li>
                                            <li><a href="single_news.html"><span>Single News</span></a></li>
									        <li><a href="video_tube.html"><span>Video (youtube)</span></a></li>
									        <li><a href="video.html"><span>Video (html5)</span></a></li>
									        <li><a href="results.html"><span>Results</span></a></li>
                                            <li><a href="players.html"><span>Players</span></a></li>
                                            <li><a href="single_player.html"><span>Single Player</span></a></li>
                                            <li><a href="matches.html"><span>Matches</span></a></li>
                                            <li><a href="match.html"><span>Single Match</span></a></li>
                                            <li><a href="shops.html">Shop</a></li>
                                            <li><a href="shop_rackets.html">Shop Rackets</a></li>
                                            <li><a href="details_prod.html">Single products</a></li>
                                            <li><a href="gallery_col.html">Photo Gallery</a></li>
								          </ul>
                                        </div>
                                    </div>
                                </div>
							</li>
						<li><a class="lnk-menu" href="players.html">Players</a></li>
                        <li><a class="lnk-menu" href="results.html">Results</a></li>
						<li><a class="lnk-menu" href="news.html">News</a></li>
                        <li><a class="lnk-menu" href="shops.html">Shop</a></li>
                        <li><a class="lnk-menu" href="contact.html">Contact</a></li>
					</ul>
				</nav>
              </div>
			</div>
        
	</header>
 </section>
  <section class="drawer">
            <div class="col-md-12 size-img back-img-match">
                <div class="effect-cover">
                    <h3 class="txt-advert animated">RAKUTEN JAPAN OPEN TENNIS</h3>
                </div>
           </div>
    
    <section id="allmatch" class="container secondary-page">
      <div class="general general-results">
           <div class="top-score-title right-score col-md-9">
                <h3>COMPLETED <span>MATCHES</span><span class="point-little">.</span></h3>
                
                
                
                
                
                
                <div class="main">
                        <p class="news-title-right">Tournament Day</p>
                        <div class="tabs animated-slide-2 matches-tbs">
                            
                            
                          
                            
                              {% block content2 %}
    
                          <ul class="tab-links-matches">
                                
                                
                              
                                
                                <li><a href="#tab2222">{{ knp_pagination_render(pagination) }}</a></li>
                               
                                
                            </ul>

                           
                            
                            
                            
                            
                            
                            
                


                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            

{% for m in pagination %}
<tr {% if loop.index is odd %}class="color"{% endif %}>


                            
                            


                            <div class="tab-content">
                                <div id="tab1111" class="tab active">
                                   <table class="match-tbs">
                                         <tr><td class="match-tbs-title" colspan="7">Manzah staduim</td></tr>
                                         <tr class="match-sets"><td></td><td class="fpt">Nationalité</td><td class="fpt">Set 1</td><td class="fpt">Set 2</td><td class="fpt">Set 3</td></tr>

                                       
                                                                                

                                        
                
<tr><td class="fpt fpt2">{{m.Idjoueur1.nom}}</td><td class="fpt fpt2">TUN</td><td class="fpt fpt2">{{m.set1joueur1}}</td><td class="fpt fpt2">{{m.set2joueur1}}</td><td class="fpt fpt2">{{m.set3joueur1}}</td> <td class="fpt fpt2"></td></tr>
<tr><td class="fpt fpt2">{{m.Idjoueur2.nom}}  </td><td class="fpt fpt2">TUN</td><td class="fpt fpt2">{{m.set1joueur2}}</td><td class="fpt fpt2">{{m.set2joueur2}}</td> <td class="fpt fpt2">{{m.set3joueur2}}</td><td class="fpt fpt2"></td></tr>




               
           
                 
                       
                                        
                                        <tr><td class="match-more" colspan="7"><a href="match.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more</a></td></tr>
                                    </table>
                             
                                </div>
                           
                            </div>
</tr>

{% endfor %}

                


  {% endblock %} 
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        


                            
                        </div>
                    </div>
           </div><!--Close Top Match-->
           <div class="col-md-3 right-column">
           <div class="top-score-title col-md-12 match-right right-title">
                <h3>Latest News</h3>
                <div class="right-content">
                    <p class="news-title-right">A New Old Life</p>
                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                </div>
                <div class="right-content">
                    <p class="news-title-right">A New Old Life</p>
                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                </div>
                <div class="right-content">
                    <p class="news-title-right">A New Old Life</p>
                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                </div>
          </div>
          <div class="top-score-title col-md-12 match-right">
            <img src="images/banner2.jpg" alt="" />
          </div>
          <div class="top-score-title col-md-12 right-title">
                <h3>Photos</h3> 
                <ul class="right-last-photo">
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/1.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/2.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/3.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/4.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/2.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/3.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/2.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/1.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/4.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                </ul>
          </div>
          </div>
           </section>
        <section id="sponsor" class="container">
            <!--SECTION SPONSOR-->
           <div class="client-sport client-sport-nomargin">
               <div class="content-banner">
                     <ul class="sponsor second">
                        <li><img src="images/sponsor/2/1.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/2.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/3.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/4.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/5.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/2.jpg" alt="" /></li>
                    </ul>
                </div>
          </div>
       </section>
        
     <!--FOOTER-->   
    <section id="footer-tag">
           <div class="container">
             <div class="col-md-12">
              <div class="col-md-3">
                 <h3>About Us</h3>
                 <p>Thank you for visiting tennisclub.com. Our mission is to 
                 provide unrivalled and unbiased informative and resources to help any sports fan who enjoys a flutter make informed and value led decisions.</p>
                 <p>Our mission is to 
                 provide unrivalled and unbiased informative, resources to help any sports fan who enjoys a flutter make.</p>
              </div>
              <div class="col-md-3 cat-footer">
                <div class="footer-map"></div>
                <h3 class='last-cat'>Categories</h3>
                <ul class="last-tips">
                  <li><a href="tournaments.html">Tournaments</a></li>
                  <li><a href="results.html">All Results</a></li>
                  <li><a href="matches.html">Matches London ATP</a></li>
                  <li><a href="matches.html">Double ATP</a></li>
                  <li><a href="matches.html">Double WTP</a></li>
                  <li><a href="shops.html">Shop Best Price</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                 <h3>Last News</h3>
                 <ul class="footer-last-news">
                    <li><img src="images/1/1.jpg" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                    <li><img src="images/1/2.jpg" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                    <li><img src="images/1/3.jpg" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                 </ul>
              </div>
              <div class="col-md-3 footer-newsletters">
                <h3>Newsletters</h3>
                <form method="post">     
                    <div class="name">
                        <label for="name">* Name:</label><div class="clear"></div>
                        <input id="name" name="name" type="text" placeholder="e.g. Mr. John Doe" required=""/>
                    </div>
                    <div class="email">
                        <label for="email">* Email:</label><div class="clear"></div>
                        <input id="email" name="email" type="text" placeholder="example@domain.com" required=""/>
                    </div>
                    <div id="loader">
                                <input type="submit" value="Submit"/>
                        </div>
                </form>
              </div>
              <div class="col-xs-12">
                <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-digg"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                      <li><a href="#"><i class="fa fa-tumblr"></i></a></li>

                    </ul>
              </div>
             </div>
           </div>
    </section>
    <footer>
      <div class="col-md-12 content-footer">
		<p>© 2014 - 2015 wttennis.com. All rights reserved. </p>
      </div>
	</footer>
</section>
<script src="js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!--MENU-->
<script src="js/menu/modernizr.custom.js" type="text/javascript"></script>
<script src="js/menu/cbpHorizontalMenu.js" type="text/javascript"></script>
<!--END MENU-->
<!-- Button Anchor Top-->
<script src="js/jquery.ui.totop.js" type="text/javascript"></script>
<script src="js/custom.js" type="text/javascript"></script>   
</body>

<!-- Mirrored from www.ilcorsaronero.it/progettienvato/SiteParallax/ParallaxSite/site_tennis/preview/matches.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Feb 2016 11:11:07 GMT -->
</html>

          
          
          
          
          
          
          
          
          
          
          
      
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
        
        
                        
                        
                        
                        
                        
           <div class="col-md-3 right-column">
           <div class="top-score-title col-md-12 match-right right-title">
                <h3>Latest News</h3>
                <div class="right-content">
                    <p class="news-title-right">A New Old Life</p>
                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                </div>
                <div class="right-content">
                    <p class="news-title-right">A New Old Life</p>
                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                </div>
                <div class="right-content">
                    <p class="news-title-right">A New Old Life</p>
                    <p class="txt-right">Simon, who’s seeded just a lowly 26th here, was in many ways the right man for this grueling assignment</p>
                    <a href="single_news.html" class="ca-more"><i class="fa fa-angle-double-right"></i>more...</a>
                </div>
          </div>
          <div class="top-score-title col-md-12 match-right">
            <img src="images/banner2.jpg" alt="" />
          </div>
          <div class="top-score-title col-md-12 right-title">
                <h3>Photos</h3> 
                <ul class="right-last-photo">
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/1.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/2.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/3.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/4.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/2.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/3.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/2.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/1.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                        <li>
                            <div class="jm-item second">
							    <div class="jm-item-wrapper">
								    <div class="jm-item-image">
									    <img src="images/1/4.jpg" alt="" />
									    <div class="jm-item-description">
                                            <div class="jm-item-button">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                        </div>
								    </div>	
							    </div>
						    </div>
                        </li>
                </ul>
          </div>
          </div>
           </section>
        <section id="sponsor" class="container">
            <!--SECTION SPONSOR-->
           <div class="client-sport client-sport-nomargin">
               <div class="content-banner">
                     <ul class="sponsor second">
                        <li><img src="images/sponsor/2/1.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/2.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/3.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/4.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/5.jpg" alt="" /></li>
                        <li><img src="images/sponsor/2/2.jpg" alt="" /></li>
                    </ul>
                </div>
          </div>
       </section>
        
     <!--FOOTER-->   
    <section id="footer-tag">
           <div class="container">
             <div class="col-md-12">
              <div class="col-md-3">
                 <h3>About Us</h3>
                 <p>Thank you for visiting tennisclub.com. Our mission is to 
                 provide unrivalled and unbiased informative and resources to help any sports fan who enjoys a flutter make informed and value led decisions.</p>
                 <p>Our mission is to 
                 provide unrivalled and unbiased informative, resources to help any sports fan who enjoys a flutter make.</p>
              </div>
              <div class="col-md-3 cat-footer">
                <div class="footer-map"></div>
                <h3 class='last-cat'>Categories</h3>
                <ul class="last-tips">
                  <li><a href="tournaments.html">Tournaments</a></li>
                  <li><a href="results.html">All Results</a></li>
                  <li><a href="matches.html">Matches London ATP</a></li>
                  <li><a href="matches.html">Double ATP</a></li>
                  <li><a href="matches.html">Double WTP</a></li>
                  <li><a href="shops.html">Shop Best Price</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                 <h3>Last News</h3>
                 <ul class="footer-last-news">
                    <li><img src="images/1/1.jpg" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                    <li><img src="images/1/2.jpg" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                    <li><img src="images/1/3.jpg" alt="" /><p>Fusce risus metus, placerat in consectetur eu...</p></li>
                 </ul>
              </div>
              <div class="col-md-3 footer-newsletters">
                <h3>Newsletters</h3>
                <form method="post">     
                    <div class="name">
                        <label for="name">* Name:</label><div class="clear"></div>
                        <input id="name" name="name" type="text" placeholder="e.g. Mr. John Doe" required=""/>
                    </div>
                    <div class="email">
                        <label for="email">* Email:</label><div class="clear"></div>
                        <input id="email" name="email" type="text" placeholder="example@domain.com" required=""/>
                    </div>
                    <div id="loader">
                                <input type="submit" value="Submit"/>
                        </div>
                </form>
              </div>
              <div class="col-xs-12">
                <ul class="social">
                      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fa fa-digg"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss"></i></a></li>
                      <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                      <li><a href="#"><i class="fa fa-tumblr"></i></a></li>

                    </ul>
              </div>
             </div>
           </div>
    </section>
    <footer>
      <div class="col-md-12 content-footer">
		<p>© 2014 - 2015 wttennis.com. All rights reserved. </p>
      </div>
	</footer>
</section>
<script src="js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!--MENU-->
<script src="js/menu/modernizr.custom.js" type="text/javascript"></script>
<script src="js/menu/cbpHorizontalMenu.js" type="text/javascript"></script>
<!--END MENU-->
<!-- Button Anchor Top-->
<script src="js/jquery.ui.totop.js" type="text/javascript"></script>
<script src="js/custom.js" type="text/javascript"></script>   
</body>

<!-- Mirrored from www.ilcorsaronero.it/progettienvato/SiteParallax/ParallaxSite/site_tennis/preview/matches.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 03 Feb 2016 11:11:07 GMT -->
</html>


                                     
                                                                


