<link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css" />
<link href=""{{asset('css/fonts/font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />

<link href="{{asset('css/component.css')}}" rel="stylesheet" type="text/css" />

<link href="{{asset('css/style_dir.css" rel="stylesheet')}}" type="text/css" />
<link href="{{asset('css/responsive.css')}}" rel="stylesheet" type="text/css" />
<link href="{{asset('css/costum.css')}}" rel="stylesheet" type="text/css" />
<div class="col-sm-offset-4 col-sm-4">

    <form id ="forum" name="tft_personnebundle_forum" method="POST"action="">
        <div id="tft_personnebundle_forum">
        </div>
        <div class="form-group">

            {{ form_label(Form.titre_du_forum) }}
            {{ form_widget(Form.titre_du_forum,{ 'attr': {'class': 'col-sm-2  form-control' } }) }}
            {{ form_errors(Form.titre_du_forum) }}
        </div>
        <div class="form-group">

            {{ form_label(Form.Description) }}
            {{ form_widget(Form.Description,{ 'attr': {'class': 'col-sm-2 form-control' } }) }}
            {{ form_errors(Form.Description) }}


        </div>   

        <div class="form-group non">

            {{ form_label(Form._token) }}
            {{ form_widget(Form._token,{ 'attr': {'class': 'form-control' } }) }}
            {{ form_errors(Form._token) }}


        </div>     

        <div class="form-group">
            <button type="submit" id="tft_personnebundle_forum_valider" name="tft_personnebundle_forum[valider]"class="btn btn-default" >Valider</button>
        </div>
    </form>
</div>
